anyio==3.7.0
black==23.3.0
Brotli==1.0.9
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
exceptiongroup==1.1.2
h11==0.14.0
httpcore==0.17.2
httpx==0.24.1
idna==3.4
mutagen==1.46.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pip-review==1.3.0
platformdirs==3.8.0
pycryptodomex==3.18.0
pylast==5.2.0
pyperclip==1.8.2
requests==2.31.0
sniffio==1.3.0
tomli==2.0.1
typing-extensions==4.7.1
urllib3==2.0.3
websockets==11.0.3
yewtube==2.10.4
youtube-search-python==1.6.6
yt-dlp==2023.6.22
